typeset -gaU path
typeset -a __braden_user_paths
typeset __braden_path_dir

__braden_user_paths=()
for __braden_path_dir in \
  "$HOME/.local/bin" \
  "$HOME/.local/share/mise/shims" \
  "$HOME/.bun/bin" \
  "$HOME/.cargo/bin"
do
  [[ -d "$__braden_path_dir" ]] && __braden_user_paths+=("$__braden_path_dir")
done
path=("${__braden_user_paths[@]}" $path)
unset __braden_user_paths __braden_path_dir

ANTIDOTE_HOME="${XDG_CACHE_HOME:-$HOME/Library/Caches}/antidote"

if [[ -o interactive ]]; then
  typeset -gi __BRADEN_ZSH_HAS_TTY=0
  if [[ -t 0 && -t 1 ]]; then
    __BRADEN_ZSH_HAS_TTY=1
  fi
fi
